{{> _HEADER }}

<body style="background-color: #f4f4f4; margin: 0 !important; padding: 0 !important;">
    <div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Maven Pro', Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
        Erinnerung: Training {{trainingName}} findet bald statt.
    </div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        {{> _LOGO }}
        <tr>
            <td bgcolor="#000000" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td bgcolor="#ffffff" align="center" valign="top"
                            style="padding: 40px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'Titillium Web', Arial, sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 4px; line-height: 48px;">
                            <h1 style="font-size: 48px; font-weight: 400; margin: 0;">Training: {{trainingName}} am {{trainingDatum}}, {{trainingZeit}}</h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td bgcolor="#ffffff" align="left"
                            style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Maven Pro', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                            <p style="margin: 0;">Hallo {{firstName}} {{lastName}},</p>
                            <p style="margin: 20px 0 0 0;">Dies ist eine Erinnerung an das bevorstehende Training:</p>
                            <table style="width: 100%; margin-top: 20px; border-collapse: collapse;">
                                <tr>
                                    <td style="padding: 10px; border-bottom: 1px solid #eee; color: #666666;">Training:</td>
                                    <td style="padding: 10px; border-bottom: 1px solid #eee; color: #333333;"><b>{{trainingName}}</b></td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px; border-bottom: 1px solid #eee; color: #666666;">Team:</td>
                                    <td style="padding: 10px; border-bottom: 1px solid #eee; color: #333333;"><b>{{teamName}}</b></td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px; border-bottom: 1px solid #eee; color: #666666;">Trainer:</td>
                                    <td style="padding: 10px; border-bottom: 1px solid #eee; color: #333333;"><b>{{trainerName}}</b></td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px; border-bottom: 1px solid #eee; color: #666666;">Ort:</td>
                                    <td style="padding: 10px; border-bottom: 1px solid #eee; color: #333333;"><b>{{trainingOrt}}</b></td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px; border-bottom: 1px solid #eee; color: #666666;">Datum:</td>
                                    <td style="padding: 10px; border-bottom: 1px solid #eee; color: #333333;"><b>{{trainingDatum}}</b></td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px; border-bottom: 1px solid #eee; color: #666666;">Uhrzeit:</td>
                                    <td style="padding: 10px; border-bottom: 1px solid #eee; color: #333333;"><b>{{trainingZeit}}</b></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" align="left"
                            style="padding: 0px 30px 40px 30px; color: #666666; font-family: 'Maven Pro', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                            <p style="margin: 0;color: #666666; font-family: 'Maven Pro', Helvetica, Arial, sans-serif;">
                                Bitte bringe deine Sportausrüstung mit und sei pünktlich. Falls du nicht teilnehmen kannst, melde dich bitte so schnell wie möglich ab. Beachte, dass eine Abmeldung über die App nur bis zum <b>{{abmeldefrist}}</b> möglich ist.
                            </p>
                        </td>
                    </tr>
                    {{> _GREETING }}
                </table>
            </td>
        </tr>
        {{> _FOOTER }}
    </table>
</body>

</html> 